{% extends 'base.html' %}
	{% block title %}
	  shop_system
	{% endblock %}
{% block content %}
	{%if category%}
	


 <div class="sidenav">
  <a class="navbar-brand" href="{% url 'landing' %}">The Shop</a><br><br><br>
  <a href="">
  Filter By Category </a> 
    
  
  
    <a href="{% url 'landing'  %}">All</a></li>
		{%for a in category%}
			<a href="{% url 'search_category' a.category %}">{{a.category}}</a>
		{%endfor%}    
 
   <a>Sort By Price
    
  <a>
  
    <a tabindex="-1" href="#">High to Low</a>
	<a tabindex="-1" href="#">Low To High</a>
	<!-- <a><p>
  <label for="amount">Price range:</label>
  <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
</p>
 
<div id="slider-range"></div></a> -->
        
  </div>
		                    	
		                    
  
</div>

		<div class="container">
		    <div class="row">    
		        <div class="col-xs-8 col-xs-offset-2">
				    <div class="input-group">
		                <div class="input-group-btn search-panel">
		                   
		                </div>
		                <input type="hidden" name="search_param" value="all" id="search_param">         
		                <input type="text" class="form-control" id="tags" placeholder="Search product,category or brand..." onkeyup="">
		                <span class="input-group-btn">
		                    <button class="btn btn-default" type="button" onclick="searchOpen()">
		                    	<span class="glyphicon glyphicon-search"></span>
		                    </button>
		                </span>
		            </div>
		        </div>
			</div>
		</div>
	{%endif%}
	
	{%if object_list%}
		<div class="container" style="padding-left: 100px;">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">		      
		      				<div class="carousel-inner">
		        				<div class="item carousel-item active">
		          					<div class="row">
									{% for product in object_list %} 
										<div class="col-sm-3">
		              						<div class="thumb-wrapper">	                
		                						<div class="img-box">
			                						{%for a in images%} 
			                							{%if product.name == a.name%}
			                  								<img src="{{a.image.url}}" />  
			                  							{%endif%}
			                  						{%endfor%}
		                  						</div>              						
		                  						<h4><a href="">{{product.name}}</a></h4>
		                 						{%for a in images%}       
		                  							{%if product.name == a.name%}
		                  								{%for c in prices%}
			                  								{%if c.user == a.user%}         
			                 									<h5>Buy On {{c.title}} At {{a.price}} r.s.</h5>
			                 									{% if user.is_authenticated %}
					  												<a href="{%url 'Buy_product' a.id %}" class="btn btn-primary"> add to cart >></a>
					  											{%endif%}
				  												{% if not user.is_authenticated %}
					 												<a href="{% url 'Buy_product' a.id   %}" class="btn btn-primary">buy now >></a></a>
					 											{%endif%}
			                  								{%endif%}
		                  								{%endfor%}
		                  							{%endif%}                 
		                  						{%endfor%}
		                  					</div><br>
		                  				</div>
		                  			{% endfor%}
		                  		</div>
		                  	</div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	{%endif%}
		<div class="container" style="padding-left: 35%;padding-top: 13%">
	<p style="  font-family: Times New Roman;font-size: 40px; ">{{error}}
	</p></div>

		{%if item%}
			<table  style="border: 1px solid black;">
			  <tr style="border: 1px solid black;">
				<td style="border: 1px solid black;">product_name</td>
				<td style="border: 1px solid black;">Amount</td>
			  </tr>  
			  {% for p in item %} 
			  <tr style="border: 1px solid black;">
				<td style="border: 1px solid black;">  {{p.name}}</td>
				<td style="border: 1px solid black;">  {{p.price}}</td>
			  </tr>
			  {% endfor%}
			  <tr>
				<td>Total amount</td>
				<td>{{sum.total}}</td>
			  </tr>
			</table>
			<a href="{%url 'Buy_product' 'buy'  %}">buy now</a>
			<input type="submit" name="Save" class="btn btn-success" value="Empty Cart">
		{%endif%}
		<script >
			function searchOpen(){
				var product = document.getElementById("tags").value;
				if(product == ""){
					product = "fer";
				}
				$.ajax({
				type: 'GET',				
				success: function (output) {
				window.location.replace("{%url 'search_product' 0%}".replace(0,product));
				},
				error: function(output){
				  alert(output)
				 
				}
			});




			}



		</script>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

		<script>
  $( function() {
    $( "#slider-range" ).slider({
      range: true,
      min: 0,
      max: 10000,
      values: [ 75, 300 ],
      slide: function( event, ui ) {
        $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
      }
    });
    $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
      " - $" + $( "#slider-range" ).slider( "values", 1 ) );
  } );
  </script>

 
{% endblock %}